.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #fff;
}
.order_page {
  --background: var(--page-background);
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: var(--page-margin);
  .step {
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
  }
  .icon {
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px #707070 solid;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 55;
    text-align: center;
    background-color: var(--app-background-shade);
    position: absolute;
    left: calc(50% - 20px);
    margin-top: 10px;
  }
  .active {
    color: #fff;
    border: none;
    background-color: #f57f17;
  }
  .text-active {
    color: #f57f17;
  }
  .line {
    background: #707070;
    position: absolute;
    top: 28px;
    height: 2px;
    z-index: 0;
    width: 100%;
  }

  .setps {
    background-color: #e2dfdd;
    height: 82px;
    ion-col {
      padding: 0;

      margin: 0px;
    }
  }
  .check {
    margin-left: 10px;
  }
  .btn {
    text-align: right;
  }
  ion-button {
    height: 35px;
    font-size: 14px;
  }
  ion-list-header ion-label {
    font-size: 16px;
  }
  .error-message {
    margin-left: 10px;
    color: #fe001a;
    font-size: 10px;
  }
}
.full {
  margin-bottom: 10px;
  width: 100%;
  ion-button {
    position: absolute;
    margin-top: 130px;
    height: 31px;
    font-size: 14px;
    right: 5px;
  }
}
.head1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 5px;
}
.head21 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 140px;
}
.head22 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 130px;
}

.img {
  width: 30%;
  height: 30px;
}
tr{
  border-bottom: 1px groove;
}

.pname {
  font-size: 14px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

