<ion-content class="order_page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="setps ">
    <ion-col>
      <div class="icon active">
        <ion-icon name="map"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%; margin-left: 50%; background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTLOCATION' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div>
        <div class="line ">
        </div>
        <div class="line " style="background-color: #F57F17; width: 50%;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTPRODUCT' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon">
        <ion-icon name="checkbox"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%;;">
        </div>
      </div>
      <div class="step"> {{'ADDORDER' | translate}}</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <table width="100%">
          <tr *ngFor="let p of products">
            <td style="width: 25%;text-align: center;padding-top: 3px;">
              <div style="padding: 5px;">
                <div [ngStyle]="{'background-image': 'url('+p.p_img+')'}" style="height: 80px;width: 80px;background-size: cover;">
                  <!-- <img src="{{p.p_img}}"> -->
                </div>
              </div>
            </td>
            <td class="pname" style="width: 55%"><span style="padding-left: 5px;">{{p.p_name}}</span></td>
            <td style="width: 20%">
              <div>
                <ion-button color="secondary" size="small" (click)="select(p)"
                  style="height: 9vh;width: 100%;padding-right: 10px;">{{'SELECT' | translate}}
                </ion-button>
              </div>
            </td>
          </tr>
        </table>
        <!-- <div>{{p.p_name}}</div>
      <ion-button shape="round" color="secondary" size="small" (click)="select(p)">สั่งซื้อ <ion-icon
          name="chevron-forward-sharp"></ion-icon>
      </ion-button>
      <img class="img" src="{{p.p_img}}"> -->
      </div>
    </ion-col>

  </ion-row>
  <!-- <ion-row *ngFor="let p of products">
    <div class="full">
      <div class="head1">{{p.p_name}}</div>
      <ion-button shape="round" color="secondary" size="small" (click)="select(p)">สั่งซื้อ <ion-icon
          name="chevron-forward-sharp"></ion-icon>
      </ion-button>
      <img class="img" src="{{p.p_img}}">
    </div>
  </ion-row> -->
  <ion-row>
    <!-- <div class="full">
      <div class="head1">พื้นบ้าน / ลานคอนกรีต</div>
      <div class="head22">คอนกรีตเททับหน้า (Topping)</div>
      <ion-button shape="round" color="secondary" size="small" (click)="select(2)">สั่งซื้อ <ion-icon
          name="chevron-forward-sharp"></ion-icon>
      </ion-button>
      <img class="img" src="../../assets/images/Intersection 3.png">

    </div> -->
    <ion-button shape="round" color="tertiary" size="small" style="margin-left: 10px;" (click)="back()">
      <ion-icon name="arrow-dropleft"></ion-icon>
      <label slot="end">{{'BACK' | translate}}</label>
    </ion-button>
  </ion-row>

</ion-content>