ion-tab-button {
  ion-label {
    color: #fff;
    font-size: 14px;
  }
}
ion-tab-bar {
  height: 40px;
}
ion-tab-button {
  //--color-selected: red;
  background-color-selected: #e26a00;
  border-radius-selected: 8px 8px 0px 0px;
}
.selected {
  // border-bottom: solid 3px #ff0000;
  background-color: #e26a00;
  border-radius: 8px 8px 0px 0px;
}
.header-md:after {
  background: none;
}
