<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-searchbar showCancelButton="focus" cancelButtonText="ยกเลิก" debounce="500" clearIcon="true"
      (ionChange)="getItems($event)" placeholder="ค้นหาจังหวัด"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of province" button (click)="select(p)">
      <ion-label *ngIf="lang=='th'">{{p.name_th}}</ion-label>
      <ion-label *ngIf="lang=='en'">{{p.name_en}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>