<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ลงทะเบียน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">

  <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">ป้อนเบอร์โทรศัพท์ของท่าน</ion-label>
        <ion-input type="tel" formControlName="tel" clearInput autocapitalize="off" inputmode="tel">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit" expand="round" [disabled]="!signupForm.valid">ลงทะเบียน</ion-button>
    </ion-row>
  </form>
</ion-content>