<ion-content class="success-page">
  <ion-row class="setps ">
    <ion-col>
      <div class="icon active">
        <ion-icon name="map"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%; margin-left: 50%; background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active">
        {{'SELECTLOCATION' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div>
        <div class="line" style="background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTPRODUCT' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="checkbox"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%;background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active"> {{'ADDORDER' | translate}}</div>
    </ion-col>
  </ion-row>
  <div class="content">
    <div class="img">
      <img src="../../assets/images/ic_alarm_on_24px.png">
    </div>
    <h3 class="text-success">{{'ORDERCOMPLETED' | translate}}</h3>
    <h3 class="text2">
      {{'WAITQUOTATION1' | translate}}<br />
      {{'WAITQUOTATION2' | translate}}</h3>
    <div class="text3">* {{'AUCTION1' | translate}} {{order.end_date |date:'dd/MM/yyyy HH:mm'}}</div>
    <div class="btn">
      <ion-button shape="round" (click)="showdetails()" size="small">{{'SEEORDER' | translate}} <ion-icon name="arrow-dropright"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>