<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">

      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>#{{od_head.order_id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">
    <div class="bg-dark">
      <ion-row>
        <span class="title">{{'ORDER' | translate}}</span> : #{{od_head.order_id}} {{od_head.p_name.th}}
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="title">{{'DATECON' | translate}}</span> : {{od_head.send_date|date:'dd/MM/yyyy'}}
        </ion-col>
        <ion-col>
          <span class="title">{{'TIMECON' | translate}}</span> :
          {{od_head.send_date +' '+ od_head.send_time| date:'HH:mm'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="title">{{'NAME' | translate}}</span> : {{od_head.name}}
        </ion-col>
        <ion-col>
          <span class="title">{{'COUNT' | translate}}</span> : <ion-badge>{{od_head.count}}</ion-badge>
          {{'CBM' | translate}}
          <span *ngIf="od_head.car=='1'">({{'SMALLTRUCK' | translate}})</span>
          <span *ngIf="od_head.car=='2'">({{'LARGTRUCK' | translate}})</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="add">
          <span class="title">{{'TO' | translate}}</span>
          <span class="address" *ngIf="lang == 'en'">
            : {{od_head.address}} <br> {{'SBD' | translate}} {{od_head.district_en}}
            {{'D' | translate}} {{od_head.subdistrict_en}} <br> {{'P' | translate}} {{od_head.province_en}}
          </span>
          <span class="address" *ngIf="lang == 'th'">
            : {{od_head.address}} <br> {{'SBD' | translate}} {{od_head.district_th}}
            {{'D' | translate}} {{od_head.subdistrict_th}} <br> {{'P' | translate}} {{od_head.province_th}}
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="details">
    <ion-row>
      <ion-col size="4" [hidden]="time == null">
        <div style="text-align: center;">
          <span>
            {{'END' | translate}}
          </span>
          <div class="timer">
            <app-countdown-timer class="item-countdown" fill="countdown" [end]="time"
              [units]="{from: 'hour', to: 'second'}"></app-countdown-timer>
          </div>
        </div>
      </ion-col>
      <ion-col [hidden]="time != null" size="4">
        <span>
          {{'STATUS' | translate}}
        </span><br>
        <div class="time">
          <span style="font-size: 12px;"
            *ngIf="time == null && od_head.status == -2">{{'PAYMENTISSUE' | translate}}</span>
          <span style="font-size: 14px;" *ngIf="time == null && od_head.status == -1">{{'CANCLED' | translate}}</span>
          <span style="font-size: 14px;color:#067a1d;"
            *ngIf="time == null && od_head.status == 0">{{'ENDED' | translate}}</span>
          <span style="font-size: 14px;color: #F57F17;"
            *ngIf="time == null && od_head.status == 1">{{'WAITSEND' | translate}}</span>
          <span style="font-size: 14px;color: #F57F17;"
            *ngIf="time == null && od_head.status == 2">{{'SENDING' | translate}}</span>
          <span style="font-size: 14px;color:#067a1d;"
            *ngIf="time == null && od_head.status >= 3">{{'SUCCESS' | translate}}</span>
          <span style="font-size: 14px;"
            *ngIf="time == null && od_head.status == -30">{{'PAYMENTISSUE' | translate}}</span>
          <span style="font-size: 12px;color: #F57F17;"
            *ngIf="time == null && od_head.status == -20">{{'WAITCOMFIRM' | translate}}</span>
          <!-- <span style="font-size: 14px;" [hidden]="o.status == '20' || o.status == '30'"> &#9679;
            {{'WAITPAY' | translate}}</span>
          <span style="font-size: 14px;" [hidden]="o.status == '30' || o.status == '0'"> &#9679;
            {{'WAITCOMFIRM' | translate}}</span>
          <span style="font-size: 14px;" style="color: red;" [hidden]="o.status == '20' || o.status == '0'"> &#9679;
            {{'PAYMENTISSUE' | translate}}</span> -->
        </div>

      </ion-col>
      <ion-col [hidden]="time == null" size="4">
        <span>
          {{'RECENTLY' | translate}}
        </span><br>
        <span class="price">{{od_auction_pre.sumprice | number}}</span>
      </ion-col>
      <ion-col [hidden]="time != null" size="4">
        <span>
          {{'FINALPRICE' | translate}}
        </span><br>
        <span class="price">{{winner.sumprice | number}}</span>
      </ion-col>
      <ion-col [hidden]="time == null" size="4">
        <span>
          {{'LOWESTPRICENOW' | translate}}
        </span><br>
        <p class="name">
          {{od_auction_pre.name}}
        </p>
      </ion-col>
      <ion-col [hidden]="time != null" size="4">
        <span>
          {{'WINNER' | translate}}
        </span><br>
        <p class="name">
          {{winner.name}}
        </p>

      </ion-col>
    </ion-row>
  </div>
  <div class="wait" *ngIf="od_head.choose == 1 && od_head.status == 1">
    <div>
      <P>{{'SENDERNAME' | translate}}: {{winner.name}}</P>
      <P (click)="copyMessage(winner.phone)">{{'PHONE' | translate}}: {{winner.phone}}</P>
    </div>
  </div>

  <div class="success" *ngIf="od_head.choose == 1 && od_head.status < 1 && od_head.status != -1">
    <div class="continue" (click)="continue(od_head.order_id)"><img
        src="../../assets/images/pay_cash.png">{{'GOTOPAYMENT' | translate}}
    </div>
  </div>
  <div class="full">
    <div class="acc" [hidden]="od_head.status != 2 ">
      <span style="text-align: center;" id="received" class="received" #received>{{'RECEIVED' | translate}}</span><br>
      <ion-button color="success" class="accept" (click)="accept(od_head.order_id)" [disabled]="od_head.status >= 3">
        <span>{{'GETPOINT' | translate}}</span>
      </ion-button>
    </div>
    <div class="acc" [hidden]="od_head.status < 3">
      <span style="text-align: center;" id="received" class="received" #received>{{winner.content}}</span><br>
      <ion-button color="facebook" class="accept" (click)="share(od_head.order_id)">
        <span>{{'Share' | translate}}</span>
      </ion-button>
    </div>
    <!-- <div class="continue" [hidden]="od_head.status < 3">
      <span style="font-size: 14px;">แชร์เพื่อรับ 100 คะแนน </span>
      <ion-icon style="margin-bottom: -4px;" name="fastforward"></ion-icon>
      <ion-button color="facebook" style="width: max-content;margin-bottom: 13px;margin-right: 13px;"
        (click)="share(od_head.order_id)">
        <span>Share </span>
        <ion-icon style="margin-bottom: 5px;margin-left: 3px;" name="share-alt"></ion-icon>
      </ion-button>
    </div> -->
  </div>
  <div class="body" [hidden]="od_head.choose == 1">
    <div class="header2"> <img src="../../assets/images/ic_gavel_242px.png"> {{'AUCTIONHISTORY' | translate}}
    </div>
    <table>
      <thead>
        <tr>
          <td style="border-left: none;">
            #
          </td>
          <td style="width: 90px;text-align: center;">
            {{'AUCTIONNAME' | translate}}
          </td>
          <td style="text-align: center;">
            {{'PRICEPERQ' | translate}}
          </td>
          <td style="text-align: center;">
            {{'SUMPRICE' | translate}}
          </td>
          <td style="text-align: center;">
            {{'DATETIME' | translate}}
          </td>
          <td style="border-right: none;text-align: center;">
            {{'AUCTIONCLOSE' | translate}}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ac of od_auction;let i = index"
          [ngClass]="{'me': (od_head.choose == 1 && ac.ap_id == winner.ap_id) || (i==0 && od_head.choose == 0)}">
          <td>{{i+1}}</td>
          <td>
            <p class="ac-name">{{ac.name}}</p>
          </td>
          <td style="text-align: right;">{{ac.priceperq | number}}</td>
          <td style="text-align: right;">{{ac.sumprice | number}}</td>
          <td style="text-align: right;">{{ac.create_date | date:'dd/M/yyyy H:mm'}}</td>
          <td>
            <ion-button class="buy" (click)="final(ac)" [disabled]="od_head.choose == 1 || od_head.status == -1">
              {{'BUY' | translate}}</ion-button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="body" [hidden]="od_head.choose == 0">
    <div class="header2"> <img src="../../assets/images/ic_gavel_242px.png"> {{'AUCTIONHISTORY' | translate}}
    </div>
    <table>
      <thead>
        <tr>
          <td style="border-left: none;">
            #
          </td>
          <td style="width: 90px;text-align: center;">
            {{'AUCTIONNAME' | translate}}
          </td>
          <td style="text-align: center;">
            {{'PRICEPERQ' | translate}}
          </td>
          <td style="text-align: center;">
            {{'SUMPRICE' | translate}}
          </td>
          <td style="text-align: center;border-right: none;">
            {{'DATETIME' | translate}}
          </td>
          <!-- <td style="border-right: none;text-align: center;">
            {{'AUCTIONCLOSE' | translate}}
          </td> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ac of od_auction| slice:0:5;let i = index"
          [ngClass]="{'me': (od_head.choose == 1 && ac.ap_id == winner.ap_id) || (i==0 && od_head.choose == 0)}">
          <td>{{i+1}}</td>
          <td>
            <p class="ac-name">{{ac.name}}</p>
          </td>
          <td style="text-align: right;">{{ac.priceperq | number}}</td>
          <td style="text-align: right;">{{ac.sumprice | number}}</td>
          <td style="text-align: right;">{{ac.create_date | date:'dd/MM/yyyy H:mm'}}</td>
          <!-- <td>
            <ion-button class="buy" (click)="final(ac)" [disabled]="od_head.choose == 1 || od_head.status == -1">
              {{'BUY' | translate}}</ion-button>
          </td> -->
        </tr>
      </tbody>

    </table>
  </div>
  <div class="body" [hidden]="od_head.choose == 0">
    <div class="total">
      <div class="header2 ion-text-center"> {{'ORDERSUMMARY' | translate}}
      </div>
      <ion-row class="bill">
        <ion-col size="6" class="ion-text-left">
          <strong>{{'BilledTo' | translate}}</strong><br>
          <p>{{od_head.name}}</p>
          <p>{{od_head.memberaddress}}</p>
          <p>{{'PHONE' | translate}} {{od_head.phone}}</p>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <strong>{{'ShippedTo' | translate}}</strong><br>
          <p [hidden]="od_head.receive == '2'">{{od_head.name}}</p>
          <p [hidden]="od_head.receive == '1'">{{od_head.receive_name}}</p>
          <p class="address" *ngIf="lang == 'en'"> {{od_head.address}} {{'SBD' | translate}}{{od_head.district_en}}
            {{'D' | translate}}{{od_head.subdistrict_en}} {{'P' | translate}}{{od_head.province_en}}</p>
          <p class="address" *ngIf="lang == 'th'">
            {{od_head.address}} {{'SBD' | translate}}{{od_head.district_th}}
            {{'D' | translate}}{{od_head.subdistrict_th}} {{'P' | translate}}{{od_head.province_th}}
            <strong [hidden]="od_head.zip_code == '0'">{{od_head.zip_code}}</strong>
          </p>
          <p>{{'DATECON' | translate}} {{od_head.send_date+' '+od_head.send_time | date:'dd/MM/yyyy H:mm'}}</p>
          <p [hidden]="od_head.receive == '2'">{{'PHONE' | translate}} {{od_head.phone}}</p>
          <p [hidden]="od_head.receive == '1'">{{'PHONE' | translate}} {{od_head.receive_phone}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: -40px; margin-top: -20px;">
        <ion-col size="12">
          <p style="margin-bottom: -15px;"><strong>{{'OrderSummary' | translate}} #{{od_head.order_id}}</strong></p>
          <p style="font-size: 12px; margin-top: 20px;"><strong>{{'DATEORDER' | translate}} :
            </strong>{{od_head.cre_date | date:'dd/MM/yyyy HH:mm'}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="summary">


            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <td style="border: solid 1px #575757;"><strong>{{'PRODUCT' | translate}} </strong></td>
                      <td style="border: solid 1px #575757;" class="ion-text-center">
                        <strong>{{'PRICE' | translate}}</strong></td>
                      <td style="border: solid 1px #575757;" class="ion-text-center">
                        <strong>{{'COUNT' | translate}}</strong></td>
                      <td style="border: solid 1px #575757;" class="ion-text-right">
                        <strong>{{'SUMPRICE' | translate}}</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                    <tr>
                      <td style="border-bottom: 1px solid grey; ">{{od_head.p_name.th}}</td>
                      <td class="ion-text-center" style="border-bottom: 1px solid grey; ">{{winner.priceperq | number}}
                        {{'THB' | translate}}</td>
                      <td class="ion-text-center" style="border-bottom: 1px solid grey; ">{{od_head.count}}
                        {{'CBM' | translate}}</td>
                      <td class="ion-text-end" style="border-bottom: 1px solid grey; ">{{winner.sub | number}}
                        {{'THB' | translate}}</td>
                    </tr>
                    <!-- <tr>
                      <td class="thick-line"></td>
                      <td class="thick-line"></td>
                      <td class="thick-line ion-text-center"><strong>Subtotal</strong></td>
                      <td class="no-line ion-text-end">{{winner.sub | number}} {{'THB' | translate}}</td>
                    </tr> -->
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line ion-text-center"><strong>{{'Shipping' | translate}}</strong></td>
                      <td class="no-line ion-text-end">{{winner.shipping | number}} {{'THB' | translate}}</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line ion-text-center"><strong>{{'SubTotal' | translate}}</strong></td>
                      <td class="no-line ion-text-end">{{winner.novat | number}} {{'THB' | translate}}</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line ion-text-center"><strong>VAT(7%)</strong></td>
                      <td class="no-line ion-text-end">{{winner.vat | number}} {{'THB' | translate}}</td>
                    </tr>
                    <tr>
                      <td class="no-line"></td>
                      <td class="no-line"></td>
                      <td class="no-line ion-text-center"><strong>{{'SUMPRICE' | translate}}</strong></td>
                      <td class="no-line ion-text-end">{{winner.sumprice | number}} {{'THB' | translate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <div class="ion-text-center footer">{{'ThankYou' | translate}}</div>
      <div class="ion-text-right" [hidden]="od_head.status < 3">
        <!-- <span style="font-size: 14px;">แชร์เพื่อรับ 100 คะแนน </span>
        <ion-icon style="margin-bottom: -4px;" name="fastforward"></ion-icon> -->
        <ion-button color="facebook" style="width: max-content;margin-bottom: 13px;margin-right: 13px;"
          (click)="share(od_head.order_id)">
          <span>Share </span>
          <ion-icon style="margin-bottom: 5px;margin-left: 3px;" name="share-alt"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>


</ion-content>