.header {
    background-image: url("../../assets/images/header_auction.png");
    height: max-content;
    width: 100%;

    .bg-dark {
        width: 100%;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 12px;
        padding: 5px 15px;
        .title {
            color: #f57f17;
        }
        ion-col {
            padding: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .address {
                display: block;
                margin-left: 40px;
                margin-top: -18px;
            }
        }
        ion-badge {
            background-color: white;
            color: #ee2458;
            font-size: 12px;
            padding: 1px;
        }
    }
}

.details {
    padding: 5px 15px;
    padding-top: 0px;
    text-align: center;

    ion-row {
        border-bottom: solid 1px var(--ion-color-light-shade);
    }
    ion-col {
        text-align: center;
        span {
            max-width: 100%;
            font-weight: bold;
            font-size: 10px;
            // display: table-row-group;
        }
        .time {
            margin-top: -5px;
            font-size: 20px;
            color: #ff0000;
            font-weight: bold;
        }
        .timer {
            font-size: 16px;
            color: #ff0000;
            font-weight: bold;
        }
        .price {
            font-size: 16px;
            color: #067a1d;
            font-weight: bold;
        }
        .name {
            margin: auto;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90px;
        }
    }
}
.auction {
    ion-col {
        padding-top: 0px;
    }
    padding: 0px 15px;
    .price-queue {
        font-size: 10px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .price_group {
        border-radius: 8px;
        border: solid #aaa 1px;
        ion-button {
            width: 33px;
            height: 28px;
            zoom: 0.8;
            font-weight: bold;
            font-size: 9px;
            display: inline-block;
            --border-radius: 10px;
        }
        .button-end {
            float: right;
        }
        .price {
            font-size: 16px;
            font-weight: bold;
            display: initial;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding-top: 6px;
        }
        .transport {
            text-align: center;
            .s1 {
                color: #3d3d3d;
                font-size: 10px;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
            }
            .s2 {
                color: #6d6868;
                display: inline-block;
                font-size: 16px;
                border-radius: 10px;
                padding: 0px 13px;
                line-height: 17px;
                font-weight: bold;
                border: solid 1px #707070;
            }
            .s3 {
                color: #878585;
                margin-top: 5px;
                margin-right: 5px;
                font-size: 10px;
                float: right;
            }
        }
    }
    .sum-price {
        font-size: 10px;
        float: right;
        margin-right: 90px;
        margin-top: 6px;
    }
    .price {
        font-size: 16px;
        position: absolute;
        right: 5px;
        font-weight: bold;
    }
    .auction-btn {
        --ion-color-base: #0ea227 !important;
        --ion-color-contrast: #fff !important;
        --border-radius: 8px;
        font-size: 16px;
        float: right;
        font-weight: bold;
        img {
            margin-right: 5px;
        }
    }
}

.body {
    padding: 5px 10px;
    .header2 {
        background-color: #f57f17;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        // font-weight: bold;
        img {
            width: 13px;
            margin-left: 5px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
    table {
        margin-top: 5px;
        width: 100%;
        thead {
            tr {
                td {
                    border: solid 1px #d1d0d0;
                    padding: 2px 5px;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
        tbody {
            .me {
                background-color: #ffeedf;
                color: #f57f17;
            }
            tr {
                td {
                    padding: 2px 5px;
                    font-size: 10px;
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 90px;
                    }
                }
            }
        }
    }
}
.tbody-success {
    td {
        font-size: 10px;
        padding: 2px 5px;
    }
    h3 {
        font-size: 12px;
        padding: 2px 1px;
    }
}
.success {
    .continue {
        text-align: center;
        background-color: #007fb9;
        border-radius: 6px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        width: 50%;
        margin: 15px auto;
        // font-weight: bold;
        img {
            width: 24px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: -6px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }

    .accept {
        height: 50px;
        background-color: #11c511;
        border-radius: 6px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        width: 50%;
        margin: 15px auto;

        // font-weight: bold;
        img {
            width: 24px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: -6px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
}
@keyframes mymove {
    0% {
        color: red;
    }
    90% {
        color: red;
    }
    100% {
        color: white;
    }
}
.full {
    text-align: center;
    .acc {
        .received {
            font-size: 16px;
            animation: mymove 2s infinite;
        }
        .accept {
            height: 50px;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;
            padding: 5px;
            width: 50%;
            margin: 15px auto;

            // font-weight: bold;
            img {
                width: 24px;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: -6px;
            }
            .readall {
                position: absolute;
                font-size: 20px;
                right: 20px;
                padding-top: 3px;
            }
        }
    }
}
ion-button {
    width: 50px;
    height: 20px;
    font-size: 10px;
}
.wait {
    p {
        font-size: 14px;
        padding-left: 10px;
    }
}
.alert .alert-wrapper {
    .alert-title {
        text-align: center;
    }
    .alert-sub-title {
        text-align: center;
    }

    .alert-message {
        text-align: center;
    }

    .alert-button-inner {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.bill{
    font-size: 12px;
    p {
        display: block;
        margin-block-start: 5px;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.total{
    background-color: #faece2;
    border-radius: 5px;
    // opacity: 70%;
    ion-row{
        padding: 10px;
    }
}
.summary{
    p {
        display: block;
        margin-block-start: 5px;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.footer{
    color: #4b4b4b;
    padding-bottom: 20px; 
    padding-top: 10px; 
    font-size: 14px;
}
