ion-list {
  padding: 0px;
  ion-item {
    --border-style: solid;
    // margin: 5px;
    border-radius: 10px;
    // box-shadow: 0px 2px 2px 0px #888888;
    --padding-start: 0px;
    ion-avatar {
      padding: 0px;
      margin: 0px;
      height: 95px;
      width: 95px;
      border-radius: 0;
      background-size: cover;
    }
    ion-label {
      margin: 0px;
      padding: 3px 10px;
      .order_id {
        font-size: 12px;
        font-weight: bold;
        color: #515050;
      }
      .address {
        overflow: hidden;
        width: 55%;
        float: right;
        text-overflow: ellipsis;
        margin-top: -22px;
        margin-right: -10px;
        text-align: right;
      }
      h2 {
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 16px;
        color: #515050;
      }
      .wait_payment {
        font-size: 12px;
        color: #F57F17;
        position: absolute;
        right: 16px;
        margin-top: -20px;
      }
      .auction {
        font-size: 12px;
        color: #0DC444;
        position: absolute;
        right: 16px;
        margin-top: -20px;
      }
      .number {
        color: #f57f17;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
