<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'SELECTSIZE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="order_page">
  <h3>{{'SMALLTRUCK' | translate}} 2 {{'CBM' | translate}}</h3>
  <ion-row>
    <ion-col size='4'>
      <div class="img-new">
        <img src="../../assets/images/scr-067.png">
      </div>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'WIDE' | translate}} :
        </ion-col>
        <ion-col>
          2.1 {{'METR' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'LONG' | translate}} :
        </ion-col>
        <ion-col>
          4.7 {{'METR' | translate}}
        </ion-col>
      </ion-row><ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'HIGH' | translate}} :
        </ion-col>
        <ion-col>
          2.43 {{'METR' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'EMPTYTRUCK' | translate}} :
        </ion-col>
        <ion-col>
          3.8 {{'TON' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'MIXCONCRETETRUCK' | translate}} :
        </ion-col>
        <ion-col>
          8.6 {{'TON' | translate}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="btn">
    <ion-button shape="round" (click)="select(1)">
      {{'SELECTSMALLTRUCK' | translate}}
    </ion-button>
  </div>
  <h3>{{'LARGTRUCK' | translate}} 5 {{'CBM' | translate}}</h3>
  <ion-row>
    
    <ion-col size='4'>
      <div class="img-new">
        <img src="../../assets/images/scr-068.png">
        </div>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'WIDE' | translate}} :
        </ion-col>
        <ion-col>
          2.9 {{'METR' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'LONG' | translate}} :
        </ion-col>
        <ion-col>
          8.0 {{'METR' | translate}}
        </ion-col>
      </ion-row><ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'HIGH' | translate}} :
        </ion-col>
        <ion-col>
          3.8 {{'METR' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'EMPTYTRUCK' | translate}} :
        </ion-col>
        <ion-col>
          12.5 {{'TON' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right" size=7>
          {{'MIXCONCRETETRUCK' | translate}} :
        </ion-col>
        <ion-col>
          24.5 {{'TON' | translate}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="btn">
    <ion-button shape="round" (click)="select(2)">{{'SELECTLARGETRUCK' | translate}}</ion-button>
  </div>

</ion-content>