ion-button {
  margin: 0 auto;
}
.btn {
  margin: 5px 0px;
  text-align: center;
}
ion-button {
  height: 40px;
  font-size: 20px;
}
ion-title{
  margin-right: 55px;
}
.order_page{
  text-align: center;
  div{
    ion-row{
      font-size: 14px;
      line-height: 85%;
      color: rgb(107, 107, 107);
    }
    span{
      text-align: center;
      font-size: 14px;
      display: block;
      // line-height: 95%;
      color: rgb(107, 107, 107);
    }
  }
  ion-row{
    font-size: 12px;
    line-height: 95%;
    color: rgb(107, 107, 107);
  }
  .img-center{
    text-align: center;
  }
  .img-new{
    text-align: center;
    height: auto;
    width: 150px;
    margin-left: 15px;
  }
  h3{
    margin-top: 25px;
    text-align: center;
    line-height: 85%;
  }
}
