<ion-content class="login-content">
  <div class="logo">
    <img style="width: 100%;" src="../../assets/icon/logo_concrete_delivery.png">
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-input type="tel" placeholder="{{'TEL' | translate}}" formControlName="tel" clearInput autocapitalize="off"
          inputmode="tel"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.tel">
          <div class="error-message"
            *ngIf="loginForm.get('tel').hasError(validation.type) && (loginForm.get('tel').dirty || loginForm.get('tel').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row class="other-auth-options-row">
      <ion-button class="forgot-btn" fill="clear" [routerLink]="['/auth/forgot-password']">
        {{'FORGOTPASS' | translate}} ?
      </ion-button>
    </ion-row>
    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block" [disabled]="!loginForm.valid">
        {{'LOGIN' | translate}}
      </ion-button>
    </div>

  </form>
  <div class="social-auth-options">
    <div [hidden]="!fboption">
      <p class="options-divider">{{'OR' | translate}}</p>
      <div class="w257">
        <ion-button shape="round" class="social-auth-btn facebook-auth-btn" expand="block" color="facebook"
          (click)="doFacebookLogin()">{{'LOGINFACEBOOK' | translate}}</ion-button>

      </div>
    </div>
    <div class="register">
      <p color="tertiary">{{'FIRSTTIME' | translate}}</p>
      <!-- <ion-button shape="round" size="small" class="register_btn" (click)="register()" color="tertiary">
        ลงทะเบียนที่นี่</ion-button> -->
      <ion-button shape="round" size="small" class="register_btn" [routerLink]="['/auth/signup']" color="tertiary">
        {{'SIGNUPHERE' | translate}}</ion-button>
    </div>

  </div>
</ion-content>