.tb-head{
    background: #fab057;
    border-bottom: solid 2px rgb(228, 228, 228);
    .col{
        text-align: center;
    }
}
.tb-content:nth-child(odd){
    background : #ffe4c4;
}
.point{
    .col{
        display: inline-table;
        width: 50%;
    }
}