<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 20px;">{{'SCORE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="padding: 10px 20px 0px 20px;">
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center; height: 60px;font-weight: bold;background-color: bisque;border-radius: 5px;margin-top: 5px;padding-top: 10px;
          ">
          <ion-label position="fixed" style="font-size: 25px;text-shadow: #a8570e 1px -1px 1px;" color="primary">
            {{point_total|number}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin: 15px 15px 30px 15px;">
    <ion-row class="tb-head">
      <ion-col size="2" class="col">
        #
      </ion-col>
      <ion-col size="6" class="col">
        {{'DETAILS' | translate}}
      </ion-col>
      <ion-col size="4" class="col">
        {{'DATETIME' | translate}}
      </ion-col>
    </ion-row>
    <ion-list [hidden]="score_detail.length >= 1">
      <div style="text-align: center;">
        <span style="font-size: 16px; color: gray;">{{'NOORDER' | translate}}</span>
      </div>
    </ion-list>
    <ion-list [hidden]="score_detail.length < 1">
      <ion-row class="tb-content" *ngFor="let item of score_detail;let i = index" style="font-size: small;">
        <ion-col size="2" align="center">
          {{i+1}}
        </ion-col>
        <ion-col size="5">
          <span *ngIf="item.inc > 0">{{'INC' | translate}}</span>
          <span *ngIf="item.exp > 0">{{'EXP' | translate}}</span>
          <!-- <br *ngIf="item.exp > 0"> -->
          <br>
          <span>{{'COUNT' | translate}} : </span>
          <span *ngIf="item.inc > 0" style="color: #1b6804;">{{item.inc|number}}</span>
          <span *ngIf="item.exp > 0" style="color: #a5081a;">{{item.exp|number}}</span>
          <span> {{'POINTS' | translate}}</span>
        </ion-col>
        <ion-col size="5" align="center">
          <span>
            {{item.time_rec|date:'dd/MM/yyyy HH:mm'}}
          </span>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="moreScore($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>

</ion-content>