<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>กำหนดรหัสผ่านใหม่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-pass-content">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="รหัสผ่าน" formControlName="password" clearInput autocapitalize="off"
            inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>



      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="confirm_password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('confirm_password').dirty || loginForm.get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <ion-row class="other-auth-options-row" [hidden]="loginForm.value.password==loginForm.value.confirm_password">
        <p>
          ต้องป้อนรหัสผ่านทั้ง 2 ช่องให้ตรงกัน
        </p>
      </ion-row>

    </ion-list>

    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block"
        [disabled]="!loginForm.valid&&loginForm.value.password!=loginForm.value.confirm_password">
        บันทึกข้อมูล
      </ion-button>
    </div>

  </form>


  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>