<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{'ORDER' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-badge *ngIf="newChat != 0" color="danger">new</ion-badge>
      <ion-icon name="chatbubbles"></ion-icon>

      <ion-label>{{'CHAT' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="setNotify()">
      <ion-badge *ngIf="newAlert != 0" color="danger">new</ion-badge>
      <ion-icon name="notifications"></ion-icon>

      <ion-label>{{'NOTIFICATE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">

      <ion-icon name="person"></ion-icon>
      <ion-label>{{'ACCOUNT' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>