// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties

.change-pass-content {
  ion-button {
    height: 48px;
  }
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .logo {
    padding-top: 5vh;
    margin-top: 50px;
    width: 89px;
    margin: 0 auto;
  }
  ion-button {
    width: 257px;
  }

  .register {
    text-align: center;
    p {
      margin-top: 30px;
      margin-bottom: 0px;
      color: var(--ion-color-medium-shade);
    }
  }
  .auth-title {
    color: var(--ion-color-dark);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3 / 2));
    letter-spacing: 0.6px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .login-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }
  .w257 {
    width: 257px;
    margin: 0 auto;
    margin-top: 20vh;
  }

  .other-auth-options-row {
    justify-content: space-between;
    text-align: left;

    .forgot-btn {
      --color: var(--ion-color-facebook-tint);
      font-size: 14px;
      width: auto;
      color: #0642cf;
      padding: 0px;
      --padding: 0px;
      margin: 0px;
      height: 24px;
      margin-left: -14px;
    }

    .signup-btn {
      --color: var(--ion-color-secondary);

      margin: 0px;
    }
  }
  .tertiary {
    font-size: 16px;
  }
  .register_btn {
    font-size: 14px;
    height: 31px;
    width: 120px;
  }

  .social-auth-options {
    .options-divider {
      color: var(--ion-color-medium);
      margin: var(--page-margin) 0px;
      text-align: center;
      margin: 10px;
    }

    .social-auth-btn {
      margin: 0px;
      font-size: 16px;

      &:not(:first-child) {
        margin-top: var(--page-margin);
      }
    }
  }
}
.other-auth-options-row {
  color: red;
}
