<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>คำนวนปริมาณคอนกรีต</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>ประเมินปริมาณคอนกรีตเบื้องต้น<br />
    ที่คุณต้องใช้ในงานประเภทต่างๆ</h3>
  <div style="text-align: center;">
    <div>
      <img src="../../assets/images/scr-071.png">
      <img src="../../assets/images/scr-072.png">
    </div>
    <div>
      <img src="../../assets/images/scr-074.png">
    </div>
    <div>
      <img src="../../assets/images/scr-075.png">
    </div>
    <ion-button (click)="back()" shape="round" size="small">ตกลง <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>


</ion-content>