<ion-header>
  <ion-toolbar mode='ios' color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 20px;">{{'EDITPROFILE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
    <div style="padding: 15px;">
      <div class="avatar" >
        <input type="file" id="inputFile" (change)="changeListener($event)" accept="image/*" hidden>
        <div class="img" [ngStyle]="{'background-image': 'url('+url+')'}" (click)="uploadProfile($event)" >
          <div class="add-camera">
            <ion-icon name="ios-create"></ion-icon>
            <!-- <span>{{'EDIT' | translate}}</span> -->
            <!-- <img src="../../assets/images/ic_add_a_photo_24px.png" (click)="uploadProfile($event)"> -->
          </div>
        </div>
      </div>
      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label position="floating">{{'SURNAME' | translate}}</ion-label>
          <ion-input type="text" placeholder="" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">{{'EMAIL' | translate}}</ion-label>
          <ion-input type="text" placeholder="delivery@congrete.com" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label position="floating">{{'ADDRESS2' | translate}}</ion-label>
          <ion-textarea rows="4" formControlName="address"></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="w257">
        <ion-button class="login-btn" shape="round" expand="block" [disabled]="loginForm.status == 'INVALID'"
          (click)="save()">
          {{'SAVE' | translate}}
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>