.avatar {
  text-align: -webkit-center;
  .img {
    height: 170px;
    width: 170px;
    background-size: cover;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    border: rgb(231, 231, 231) 2px solid;
    .add-camera {
      background-color: white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
      margin-left: 100px;
      align-items: center;
      justify-content: center;
      display: flex !important;
      ion-icon {
        color: #f57f17 !important;
      }
      img {
        display: block;
        margin: 2px;
        width: 16px;
      }
    }
  }
}
