<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>{{'ORDER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <!-- <ion-tab-button [ngClass]="{'selected':selected==-1}" (click)="page( 'order-cancel')">
        <ion-label>ประมูล</ion-label>
      </ion-tab-button> -->
      <ion-tab-button [ngClass]="{'selected':selected==10}" (click)="page('order-auction')" color="danger">
        <ion-badge [hidden]="auction == 0" color="light">{{auction}}</ion-badge>
        <ion-label>{{'AUCTION' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button [ngClass]="{'selected':selected==0}" (click)="page('order-wait')" color="danger">
        <ion-label>{{'WAITPAY' | translate}}</ion-label><ion-badge [hidden]="waitSend == 0" color="light">{{waitSend}}</ion-badge>
      </ion-tab-button>
      <ion-tab-button [ngClass]="{'selected':selected==1}" (click)="page('order-wait-send')">
        <ion-label>{{'WAITSEND' | translate}}</ion-label><ion-badge [hidden]="waitPay == 0" color="light">{{waitPay}}</ion-badge>
      </ion-tab-button>
      <ion-tab-button [ngClass]="{'selected':selected==2}" (click)="page('order-send')">
        <ion-label>{{'SUCCESS' | translate}}</ion-label>
      </ion-tab-button>
      <ion-tab-button [ngClass]="{'selected':selected==-1}" (click)="page( 'order-cancel')">
        <ion-label>{{'CANCLED' | translate}}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>