ion-tab-button {
  --padding-start: 3px;
  --padding-end: 3px;
  ion-label {
    color: #fff;
    font-size: 14px;
  }
}
ion-tab-bar {
  height: 40px;
}
ion-tab-button {
  //--color-selected: #f8f8f8;
  background-color-selected: #e26a00;
  border-radius-selected: 8px 8px 0px 0px;
}
.selected {
  //border-bottom: solid 3px #f8f8f8;
  background-color: #e26a00;
  border-radius: 8px 8px 0px 0px;
}
.header-md:after {
  background: none;
}
ion-badge {
  margin-left: 0.25em;
  top: -0px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
}
.badge-container{
  position: relative;
}
ion-content {
  contain: layout size style;
}
