<ion-content class="order_page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="setps">
    <ion-col>

      <div>
        <div class="line" style="width: 50%; margin-left: 50%;">
        </div>
      </div>
      <div class="icon active">
        <ion-icon name="map"></ion-icon>
      </div>
      <div class="step text-active">
        {{'SELECTLOCATION' | translate}}
      </div>

    </ion-col>
    <ion-col>
      <div class="icon">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div>
        <div class="line">
        </div>
      </div>
      <div class="step">
        {{'SELECTPRODUCT' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon">
        <ion-icon name="checkbox"></ion-icon>
      </div>
      <div class="line" style="width: 50%;;">
      </div>
      <div class="step"> {{'ADDORDER' | translate}}</div>
      <div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

    <ion-col>
      <form [formGroup]="step1" (ngSubmit)="doLogin()">
        <ion-list class="inputs-list" lines="full">
          <ion-item class="input-item" button (click)="select_province()">
            <ion-label>{{'SELECTPROVINCE' | translate}}</ion-label>
            <ion-label *ngIf="lang=='th'" slot="end" class="ion-text-right province">{{province.name_th}} <ion-icon
                style="color: #f57f17; opacity: 50%;" name="md-arrow-dropdown">
              </ion-icon>
            </ion-label>
            <ion-label *ngIf="lang=='en'" slot="end" class="ion-text-right province">{{province.name_en}} <ion-icon
                style="color: #f57f17; opacity: 50%;" name="md-arrow-dropdown">
              </ion-icon>
            </ion-label>
          </ion-item>
          <ion-item class="input-item">
            <ion-label>{{'SELECTDISTRICT' | translate}}</ion-label>
            <ion-select *ngIf="lang=='th'" #district_select (ionChange)="load_subdistrict()" formControlName="district">
              <ion-select-option *ngFor="let d of district" value="{{d.id}}">{{d.name_th}}</ion-select-option>
            </ion-select>
            <ion-select *ngIf="lang=='en'" #district_select (ionChange)="load_subdistrict()" formControlName="district">
              <ion-select-option *ngFor="let d of district" value="{{d.id}}">{{d.name_en}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.district">
              <div class="error-message" *ngIf="step1.get('district').hasError(validation.type) ">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-label>{{'SELECTSUBAREA' | translate}}</ion-label>
            <ion-select *ngIf="lang=='th'" #subdistrict_select (ionChange)="district_change()"
              formControlName="subdistrict">
              <ion-select-option *ngFor="let s of subdistrict" value="{{s.id}}">{{s.name_th}}</ion-select-option>
            </ion-select>
            <ion-select *ngIf="lang=='en'" #subdistrict_select (ionChange)="district_change()"
              formControlName="subdistrict">
              <ion-select-option *ngFor="let s of subdistrict" value="{{s.id}}">{{s.name_en}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.subdistrict">
              <div class="error-message"
                *ngIf="step1.get('subdistrict').hasError(validation.type) && (step1.get('subdistrict').dirty || step1.get('subdistrict').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item">
            <ion-input type="text" placeholder="{{'LOCATIONNAME' | translate}}" (keyup.enter)="add_enter()"
              #addressinput formControlName="address" class="sendaddress" clearInput autocapitalize="off" inputmode="text"></ion-input>
            <!--  <small>ตัวอย่างเช่น บ้านเลขที่ 123 ซ.สุขุมวิท2 เข้าไป 100 ม. ขวามือติด 7-11</small> -->
          </ion-item>
          <ion-item class="input-item">

            <small>{{'EXAMPLE'|translate}}</small>
          </ion-item>

          <ion-item class="input-item">
            <ion-label>{{'SELECTTRUCK' | translate}} <span *ngIf="step1.value.car==1" class="userinput"
                style="float: right;">{{'SMALLTRUCK' | translate}}</span><span style="float: right;" class="userinput"
                *ngIf="step1.value.car==2">{{'LARGTRUCK' | translate}}</span></ion-label>
            <img (click)="select_car()" src="../../assets/images/scr-070.png">
          </ion-item>
          <div class="error-container" *ngIf="step1.value.car == ''">
            <ng-container>
              <div class="error-message">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{'PLS'|translate}}</span>
              </div>
            </ng-container>
          </div>
          <ion-list-header>
            <ion-label>
              {{'INFOCUSTOMER' | translate}}
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-checkbox formControlName="receive2" (click)="recevie2_change()" name="receive"
              checked="step1.value.receive2">
            </ion-checkbox>
            <ion-label class="check" (click)="recevie2_change()"> {{'ADDRECEIVER' | translate}}</ion-label>
            <ion-checkbox formControlName="receive" (click)="recevie1_change()" name="receive"
              checked="step1.value.receive">
            </ion-checkbox>
            <ion-label class="check" (click)="recevie1_change()"> {{'RECEIVER' | translate}}</ion-label>


          </ion-item>
          <ion-item class="input-item" *ngIf="step1.value.receive2">
            <ion-input type="text" placeholder="{{'RECEIVERNAME' | translate}}" formControlName="receive_name" class="userinput"
              clearInput autocapitalize="off" inputmode="text"></ion-input>
            <ion-input type="tel" pattern="[0-9]*" placeholder="{{'PHONE' | translate}}" formControlName="receive_phone" class="userinput" clearInput
              autocapitalize="off" inputmode="text"></ion-input>
            <!--  <small>ตัวอย่างเช่น บ้านเลขที่ 123 ซ.สุขุมวิท2 เข้าไป 100 ม. ขวามือติด 7-11</small> -->
          </ion-item>
          <ion-item class="input-item" *ngIf="step1.value.receive2">

            <small>{{'EXAMPLE2'|translate}}</small>
          </ion-item>

          <div class="btn">
            <ion-button shape="round" color="tertiary" (click)="back()">
              <ion-icon name="arrow-dropleft"></ion-icon>
              {{'BACK' | translate}}
            </ion-button>
            <ion-button shape="round" style="position: absolute; right: 0px;"
              [disabled]="step1.invalid||province.name_th==''||is_disabled()" (click)="next()">{{'NEXT' | translate}}
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
      </form>
    </ion-col>

  </ion-row>

</ion-content>