ion-list {
  padding: 0px;
}
.notireaded {
  --background: #f7f7f7;
}
.notinotread {
  --background: #e9e9e9;
}
ion-item {
  // --background:#F1EEEE;
  .clicle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  .readed {
    background-color: #8c8c8c;
  }
  .notread {
    background-color: #2ca501;
  }

  ion-col {
    ion-label {
      white-space: pre-wrap;
    }
    .title {
      font-size: 16px;
      color: #474747;
    }
    .body {
      font-size: 12px;
      color: #2d2d2d;
    }
    .price {
      font-size: 10px;
      color: #fc4181;
    }
    .time {
      font-size: 10px;
      color: #7d7b7a;
    }
  }
}
.my-custom-class .modal-wrapper {
  --background: #222;
  --width: 90%;
  --height: 95%;
}
