<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="text-align: center; margin-top: 25px;" [hidden]="havealert">
    <span style="font-size: 16px; color: gray;">{{'NOALERT' | translate}}</span>
  </ion-list>
  <ion-list [hidden]="!havealert">
    <ion-item *ngFor="let auct of listAlert" [ngClass]="{'notinotread': auct.readed == 0,'notireaded': auct.readed == 1}" (click)="open(auct)">
      <ion-col size="1" style="margin-top: -25px;">
        <div class="clicle" [ngClass]="{'notread': auct.readed == 0,'readed': auct.readed == 1}"></div>
      </ion-col>
      <ion-col size="11">
        <h2 [hidden]="lang == 'en'" class="title">{{auct.title.th}}</h2>
        <ion-label [hidden]="lang == 'en'" class="body">{{auct.body.th}}</ion-label>
        <h2 [hidden]="lang == 'th'" class="title">{{auct.title.en}}</h2>
        <ion-label [hidden]="lang == 'th'" class="body">{{auct.body.en}}</ion-label>
        <div class="time" *ngIf="auct.hr_ago == 1 && auct.min_ago == 1">{{auct.hr_ago}} {{'HOUR' | translate}}
          {{auct.min_ago}} {{'MINUTE' | translate}} {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago == 1 && auct.min_ago > 1">{{auct.hr_ago}} {{'HOUR' | translate}}
          {{auct.min_ago}} {{'MINUTES' | translate}} {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago == 1 && auct.min_ago < 1">{{auct.hr_ago}} {{'HOUR' | translate}}
          {{'AGO' | translate}}</div>

        <div class="time" *ngIf="auct.hr_ago < 24 && auct.hr_ago > 1 && auct.min_ago > 1">{{auct.hr_ago}}
          {{'HOURS' | translate}} {{auct.min_ago}} {{'MINUTES' | translate}} {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago < 24 && auct.hr_ago > 1 && auct.min_ago == 1">{{auct.hr_ago}}
          {{'HOURS' | translate}} {{auct.min_ago}} {{'MINUTE' | translate}} {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago < 24 && auct.hr_ago > 1 && auct.min_ago < 1">{{auct.hr_ago}}
          {{'HOURS' | translate}} {{'AGO' | translate}}</div>

        <div class="time" *ngIf="auct.hr_ago < 1 && auct.min_ago > 1">{{auct.min_ago}} {{'MINUTES' | translate}}
          {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago < 1 && auct.min_ago == 1">{{auct.min_ago}} {{'MINUTE' | translate}}
          {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.hr_ago < 1 && auct.min_ago < 1">{{'JUSTNOW' | translate}}</div>

        <div class="time" *ngIf="auct.time_ago == 1">{{auct.time_ago}} {{'DAY' | translate}} {{'AGO' | translate}}</div>
        <div class="time" *ngIf="auct.time_ago > 1">{{auct.time_ago}} {{'DAYS' | translate}} {{'AGO' | translate}}</div>
      </ion-col>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="moreNoti($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>