<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>{{'CHAT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="chat" #content id="messages-container">
    <div class="chat-content">
      <ion-infinite-scroll position='top' (ionInfinite)="moreChat($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-list>
        <div *ngFor="let c of chats">
          <span class="time-show" *ngIf="c.new_date == 1">{{c.date}}</span>
          <div class="item " [ngClass]="{'i-right':c.form_admin=='0','i-left':c.form_admin=='1'}">
            <img class="avatar" *ngIf="c.form_admin=='1'" src="../../assets/images/186313.png">
            <div class="text-content" style="max-width: 65%;" *ngIf="c.messageType=='0'">
              <div
                style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text; user-select: text;white-space: pre-wrap;"
                *ngFor="let m of c.messages">
                {{m}}
              </div>
            </div>
            <div class="img-content" *ngIf="c.messageType=='1'">
              <div *ngFor="let m of c.messages">
                <img width="180px" src="{{m}}" ionImgViewer scheme="dark">
              </div>
            </div>
            <span class="time">{{c.timeonly}} น.</span>

          </div>
        </div>
      </ion-list>
      <div class="buttombox">
      </div>
    </div>
  </div>
  <div class="chat-input">
    <div *ngIf="sending == true">
      <ion-progress-bar type="indeterminate" value={{sending}}></ion-progress-bar>
    </div>
    <form [formGroup]="chatForm" (ngSubmit)="send()">
      <ion-item>
        <label>
          <input style="display: none;" #uploadImg type="file" accept="image/*" (change)="changeImg($event)" hidden>
          <ion-icon name="image" class="active"></ion-icon>
        </label>
        <ion-input style="--padding-start: 10px;--padding-end: 10px;" #input placeholder="{{'TYPEMESSAGE' | translate}}" formControlName="message" (click)="read()"></ion-input>
        <a (click)="send()">
          <ion-icon name="send" [ngClass]="{'active':chatForm.valid}"></ion-icon>
        </a>
      </ion-item>
    </form>
  </div>

</ion-content>