<ion-content class="order_page">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="setps ">
    <ion-col>
      <div class="icon active">
        <ion-icon name="map"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%; margin-left: 50%; background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active">
        {{'SELECTLOCATION' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div>
        <div class="line" style="background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTPRODUCT' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="checkbox"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%;background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active"> {{'ADDORDER' | translate}}</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="header1">
      <h3>{{'ORDERSUMMARY' | translate}}</h3>
    </div>
    <div class="full">

      <!-- <div class="head1">{{step2.p_name}}</div> -->
      <!-- <div class="head21">คอนกรีต CPAC Super Plus</div> -->
      <ion-badge color="secondary">{{step21.count}} {{'CBM' | translate}}</ion-badge>
      <img class="img" src="{{step2.p_img}}">

    </div>
    <div class="textbox3">
      <ion-label color="tertiary">
        {{'PRODUCTYOURSELECT' | translate}}
      </ion-label>
      <div>
        {{step2.p_name}}
      </div>
    </div>
    <div class="textbox">
      <ion-label color="tertiary">{{'DATECON' | translate}}</ion-label>
      <div>
        {{step21.date | date:'dd/MM/yyyy'}}
      </div>
    </div>
    <div class="textbox2">
      <ion-label color="tertiary">{{'TIME' | translate}}</ion-label>
      <div>
        {{step21.time}}
      </div>
    </div>
    <div class="textbox">
      <ion-label color="tertiary">{{'NAMERECEIVER' | translate}}</ion-label>
      <div>
        {{data.contact}}
      </div>
    </div>
    <div class="textbox2">
      <ion-label color="tertiary">{{'TEL' | translate}}</ion-label>
      <div>
        {{data.phone}}
      </div>

    </div>
    <div class="textbox" style="width: 100%;">
      <ion-label color="tertiary">{{'ADDRESS' | translate}}</ion-label>
      <div>
        {{data.address}}
      </div>
    </div>

    <div class="btn">
      <ion-button shape="round" color="tertiary" (click)="back()" size="small">
        <ion-icon name="arrow-dropleft"></ion-icon> {{'BACK' | translate}}
      </ion-button>
      <ion-button shape="round" size="small" (click)="next()" style="position: absolute;right: 20px;">
        {{'NEXT' | translate}} <ion-icon name="arrow-dropright"></ion-icon>

      </ion-button>
    </div>


  </ion-row>

</ion-content>