<ion-content class="order_page">
  <ion-refresher slot="fixed" pull-factor="0.5" pull-min="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row class="setps ">
    <ion-col>
      <div class="icon active">
        <ion-icon name="map"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%; margin-left: 50%; background-color: #F57F17;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTLOCATION' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon active">
        <ion-icon name="cart"></ion-icon>
      </div>
      <div>
        <div class="line " style="">
        </div>
        <div class="line " style="background-color: #F57F17; width: 50%;">
        </div>
      </div>
      <div class="step text-active ">
        {{'SELECTPRODUCT' | translate}}
      </div>
    </ion-col>
    <ion-col>
      <div class="icon">
        <ion-icon name="checkbox"></ion-icon>
      </div>
      <div>
        <div class="line" style="width: 50%;;">
        </div>
      </div>
      <div class="step"> {{'ADDORDER' | translate}}</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <div class="header1">
      <h3>{{'PRODUCTYOURSELECT' | translate}} : {{step2.p_name}}</h3>
      <!-- <p>หมวดหมู่ : 2.โครงสร้างทั่วไป (ฐานราก, เสา, คาน)</p> -->
    </div>
    <div class="full">

      <!-- <div class="head1"> {{step2.p_name}}</div> -->
      <!-- <div class="head21">คอนกรีต CPAC Super Plus</div> -->
      <img class="img" src="{{step2.p_img}}">

    </div>

    <div class="formsale">
      <h3>{{'DETAIL' | translate}}</h3>
      <form [formGroup]="formStep21">
        <small>{{'THEN3HR' | translate}}</small>
        <ion-list>
          <ion-item>
            <!-- <input #data placeholder="Date" type="text" onfocus="(this.type='date')" id="date" formControlName="date"  (ionChange)="dateChange($event)"> -->
            <ion-label #dataLabel position="floating" class="userinput">{{'DATECON' | translate}}</ion-label>
            <img src="../../assets/images/ic_date_range_24px.png"
              style="right: 0px;position: absolute;margin-top: 35px;">
            <ion-input #date class="userinput" type="date" formControlName="date" (ionBlur)="dateChange($event)">
            </ion-input>

          </ion-item>
          <ion-item>
            <ion-label #timeLabel position="floating" class="userinput">{{'TIME'|translate}}</ion-label>
            <ion-input class="userinput" type="time" formControlName="time" (ionBlur)="timeChange($event)">
            </ion-input>
            <img src="../../assets/images/ic_schedule_24px.png"
              style="right: 0px; position: absolute;margin-top: 35px;">
          </ion-item>
          <ion-item>
            <ion-label #countLabel position="floating" class="userinput">{{'COUNT'|translate}}</ion-label>
            <ion-input class="userinput" formControlName="count" (ionBlur)="check_q($event);" type="number">
            </ion-input>
            <span
              style="right: 0px; position: absolute;font-size: 20px;color: #7d7b7a; margin-top: 30px;">{{'CBM' | translate}}</span>
          </ion-item>
          <ion-item>
            <img src="../../assets/images/ic_keyboard_24px.png" style="margin-bottom: -18px;" (click)="calculate()">
            <ion-label style="color: #056BB8; padding-left: 5px;margin-bottom: -6px;" (click)="calculate()">
              {{'CALCULATE' | translate}}
            </ion-label>
          </ion-item>
          <div class="aboutus">
            <div [hidden]=show_aboutus>
              <h3>{{'PRIVACY' | translate}} :</h3>
              <p [innerHTML]="aboutus.policy"></p>
              <h3>{{'TOS' | translate}} :</h3>
              <p [innerHTML]="aboutus.service"></p>
            </div>
          </div>
          <div class="accept">
            <ion-item style="font-size: 12px;--border-style: hidden;width: max-content;">
              <ion-checkbox color="primary" name="agreeCheck" (ionChange)="change_agree($event)" checked="true"></ion-checkbox>
              <ion-label style="padding-left: 10px;">{{'ACCEPT' | translate}}</ion-label>
            </ion-item>
            <ion-item class="privacy">
              <ion-label style="color: #053CBB;margin-top: 3px;" (click)="agreement()"> {{'PRIVACYANDTOS' | translate}}</ion-label>
            </ion-item>
          </div>
        </ion-list>
      </form>
    </div>
    <div class="btn">
      <ion-button shape="round" color="tertiary" (click)="back()" size="small">
        <ion-icon name="arrow-dropleft"></ion-icon> {{'BACK' | translate}}
      </ion-button>
      <ion-button shape="round" size="small" (click)="next()"
        [disabled]="agreee === '0' || formStep21.status == 'INVALID' || !count_true"
        style="position: absolute;right: 20px;">
        {{'NEXT' | translate}} <ion-icon name="arrow-dropright"></ion-icon>

      </ion-button>
    </div>
    <div style="margin: auto;">
      <div class="textbox">
        <!-- <h3>รหัสสินค้า : 28F1A4AS00</h3>
      <h3>ประเภทคอนกรีต : คอนกรีต CPAC Super Plus</h3> -->
        <h3>{{'HOWTOUSE' | translate}} :</h3>
        <div class="howto_use">
          <p class="text_more" [ngClass]="{'auto': h_auto}" [innerHTML]='step2.how_to_use'>

          </p>
          <div class="hidden_text" (click)="h_auto=true" *ngIf="!h_auto">
            <ion-icon color="black" name="arrow-dropdown"></ion-icon>
          </div>
          <div class="show_text" (click)="h_auto=false" *ngIf="h_auto">
            <ion-icon color="black" name="arrow-dropup"></ion-icon>
          </div>
        </div>
      </div>
    </div>

  </ion-row>

</ion-content>