.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #fff;
}
.order_page {
  --background: var(--page-background);
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: var(--page-margin);
  .step {
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
  }
  .icon {
    font-size: 20px;
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px #707070 solid;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 55;
    text-align: center;
    background-color: var(--app-background-shade);
    position: absolute;
    left: calc(50% - 20px);
    margin-top: 10px;
  }
  .active {
    color: #fff;
    border: none;
    background-color: #f57f17;
  }
  .text-active {
    color: #f57f17;
  }
  .line {
    background: #707070;
    position: absolute;
    top: 28px;
    height: 2px;
    z-index: 0;
    width: 100%;
  }

  .setps {
    background-color: #e2dfdd;
    height: 82px;
    ion-col {
      padding: 0;

      margin: 0px;
    }
  }
  .check {
    margin-left: 10px;
  }
  .btn {
  }
  ion-button {
    height: 35px;
    font-size: 14px;
  }
  ion-list-header ion-label {
    font-size: 16px;
  }
  .error-message {
    margin-left: 10px;
    color: #fe001a;
    font-size: 10px;
  }
}
ion-button {
  height: 35px;
  font-size: 14px;
}
.full {
  text-align: center;
  width: 100%;
  ion-button {
    position: absolute;
    margin-top: 130px;
    height: 31px;
    font-size: 14px;
    right: 5px;
  }
}
.head1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 5px;
}
.head21 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 140px;
}
.head22 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 20px;
  margin-top: 130px;
}

.header1 {
  padding: 10px 20px;
  h3 {
    margin: 0px;
    font-size: 14px;
    color: #514e4e;
  }
  p {
    color: #7d7b7a;
    margin: 0px;
    font-size: 12px;
  }
}
.aboutus {
  padding: 0px 0px;
  h3 {
    margin: 0px;
    font-size: 14px;
    color: #514e4e;
  }
  p {
    color: #7d7b7a;
    margin: 10px;
    font-size: 12px;
  }
}
.textbox {
  padding: 10px 20px;
  padding-top: 0px;
  h3 {
    margin: 0px;
    font-size: 14px;
    color: #514e4e;
  }
  p {
    color: #7d7b7a;
    margin: 0px;
    font-size: 12px;
  }
}
.formsale {
  display: block;
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
  h3 {
    font-size: 16px;
    margin: 0px;
  }
}
ion-datetime {
  padding-left: 0px;
}
ion-item {
  width: 50%;
  display: inline-block;
  font-size: 14px;
}
.btn {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 0px;
}
.text_more {
  height: 60px;
  overflow: hidden;
}
.hidden_text {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: -30px;
  background: #020024;
  background: linear-gradient(0deg, #fff 0%, white 0%, white 19%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  padding-top: 14px;
  color: #666;
}
.show_text {
  text-align: center;
  color: #666;
}
.auto {
  height: auto;
}
.img {
  height: 250px;
  width: 250px;
}
.howto_use {
  ion-icon {
    color: orange;
  }
}
.userinput {
  color: #f57f17;
  // --placeholder-color: #020202;
}
.accept {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.privacy {
  font-size: 12px;
  --border-style: hidden;
  --padding-start: 0px;
  width: max-content;
}
