ion-toolbar {
  ion-buttons {
    position: absolute;
  }
}
ion-button {
  height: 35px;
  font-size: 14px;
  min-width: 62px;
}

.content {
  padding: 20px 20px;
  h1 {
    font-size: 20px;
    color: #7d7b7a;
    border-bottom: solid 2px #f57f17;
    display: inline;
  }
  .details{
    font-size: 14px;
    color: #5c5b5b;
  }
  p {
    font-size: 14px;
  }
}
.buttons{
    padding: 20px;
}
ion-content {
  background-image: url("../../assets/images/bg.png");
}
.header{
  margin-left: calc(77vw);
}
