<ion-content>
  <div class="header">
    <ion-buttons slot="end">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="content">
    <h1>{{'TITLE'|translate}}</h1>
    <p>
      {{data.title}}
    </p>
    <h1>
      {{'DETAILS'|translate}}
    </h1>
    <p class="details" [innerHTML]="data.content">
    </p>
  </div>
  <div>
    <div class="buttons">
      
      <ion-button shape="round" (click)="back()" size="small" color="tertiary"><ion-icon name="arrow-dropleft"></ion-icon> {{'CLOSE' | translate}}</ion-button>
      <!-- <ion-button class="ion-float-right" size="small" shape="round" color="danger">ลบออก</ion-button> -->
    </div>
  </div>
</ion-content>