<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">

      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>

      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>{{'NEWPASSWORD' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-pass-content">

  <form [hidden]="pwd == 1" [formGroup]="loginForm" (ngSubmit)="presentSaveNew()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="password" clearInput
            autocapitalize="off" inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" (change)="change()" placeholder="{{'REPASSWORD' | translate}}"
            formControlName="confirm_password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('confirm_password').dirty || loginForm.get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row class="other-auth-options-row" [hidden]="loginForm.valid">
      <p>
        {{'REPASSWORDMATCH' | translate}}
      </p>
    </ion-row>
    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block" [disabled]="!loginForm.valid">
        {{'SAVE' | translate}}
      </ion-button>
    </div>

  </form>

  <form [hidden]="pwd == 0" [formGroup]="loginForm2" (ngSubmit)="presentSave()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input (ionBlur)="checkFocus()" type="password" placeholder="{{'OLDPASSWORD' | translate}}"
            formControlName="oldpassword" clearInput autocapitalize="off" inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="password" clearInput
            autocapitalize="off" inputmode="password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm2.get('password').hasError(validation.type) && (loginForm2.get('password').dirty || loginForm2.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <app-show-hide-password>
          <ion-input type="password" (change)="change()" placeholder="{{'REPASSWORD' | translate}}"
            formControlName="confirm_password"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="loginForm2.get('password').hasError(validation.type) && (loginForm2.get('confirm_password').dirty || loginForm2.get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-row class="other-auth-options-row" [hidden]="loginForm2.value.password == loginForm2.value.confirm_password">
      <p>
        {{'REPASSWORDMATCH' | translate}}
      </p>
    </ion-row>
    <div class="w257">
      <ion-button class="login-btn" shape="round" type="submit" expand="block" [disabled]="loginForm2.value.password != loginForm2.value.confirm_password">
        {{'SAVE' | translate}}
      </ion-button>
    </div>

  </form>


  <!-- <div class="register">
    <p color="tertiary">ฉันเป็นสมาชิกอยู่แล้ว</p>
    <ion-button shape="round" size="small" [routerLink]="['/auth/login']" color="tertiary">ลงทะเบียนที่นี่</ion-button>
  </div> -->
  <!-- <div class="legal-stuff">
    เป็นสมาชิกอยู่แล้ว
   
  </div> -->
</ion-content>