<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="text-align: center; margin-top: 25px;" *ngIf="orders.length < 1">
    <span style="font-size: 16px; color: gray;">{{'NOORDER' | translate}}</span>
  </ion-list>
  <ion-list *ngIf="orders.length >= 1">
    <ion-item-sliding *ngFor="let o of orders">
      <ion-item (click)='showdetails(o)'>
        <ion-avatar slot="start" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}">
        </ion-avatar>
        <ion-label>
          <h3 class="order_id">ORDER #{{o.order_id}}</h3>
          <span *ngIf="o.status == 2" class="send"> &#9679; {{'SENDING' | translate}}</span>
          <span *ngIf="o.status >= 3" class="send"> &#9679; {{'SUCCESS' | translate}}</span>
          <h2>{{o.p_name}}</h2>
          <h3 class="number">{{'COUNT' | translate}} {{o.count}} {{'CBM' | translate}} <span
              *ngIf="o.sum!=-1">{{'PRICE' | translate}} {{o.sum|number}} {{'THB' | translate}}</span></h3>
          <p class="datesend">{{'DATECON' | translate}} {{o.send_date+' '+o.send_time| date:'dd/MM/yyyy H:mm'}}</p>
          <p>{{'DATEORDER' | translate}} {{o.cre_date | date:'dd/MM/yyyy H:mm'}}</p>
          <p class="address">
            <ion-icon name="pin"></ion-icon> {{o.address}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option style="width: calc(100vw/5);" color="danger" (click)="remove(o.order_id)">
          <ion-icon size="large" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll [disabled]="orders.length < 10" (ionInfinite)="moreOrder($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>