.header {
    background-image: url("../../assets/images/header_auction.png");
    height: max-content;
    width: 100%;
    .bg-dark {
        width: 100%;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 12px;
        padding: 5px 15px;
        .title {
            color: #f57f17;
        }
        ion-col {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0px;
            .address {
                display: block;
                margin-left: 33px;
                margin-top: -17px;
            }
        }
        ion-badge {
            background-color: white;
            color: #ee2458;
            font-size: 12px;
            padding: 1px;
        }
    }
}

.details {
    padding: 5px 15px;
    padding-top: 0px;
    text-align: center;

    span {
        padding: 5px 15px;
        font-size: 14px;
    }

    ion-row {
        border-bottom: solid 1px var(--ion-color-light-shade);
    }
    ion-col {
        span {
            font-weight: bold;
            font-size: 10px;
            display: table-row-group;
        }
        .time {
            font-size: 16px;
            color: #ff0000;
            font-weight: bold;
        }
        .price {
            font-size: 16px;
            color: #067a1d;
            font-weight: bold;
        }
    }
    .banklist {
        .bb {
            vertical-align: middle;
            span {
                font-weight: normal;
                font-size: 16px;
                strong{
                    color: #f57f17;
                    font-size: 20px;
                }
            }
        }
    }
    .name {
        font-weight: normal !important;
    }
    table {
        margin-top: 5px;
        width: 100%;
        thead {
            tr {
                td {
                    border: solid 1px #d1d0d0;
                    padding: 2px 5px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
        tbody {
            .me {
                background-color: #ffeedf;
                color: #f57f17;
            }
            tr {
                td {
                    padding: 2px 5px;
                    font-size: 12px;
                }
            }
        }
    }
}
.auction {
    ion-col {
        padding-top: 0px;
    }
    padding: 0px 15px;
    .price-queue {
        font-size: 10px;
        width: 100%;
        display: block;
        text-align: center;
    }
    .price_group {
        border-radius: 8px;
        border: solid #aaa 1px;
        ion-button {
            width: 33px;
            height: 28px;
            zoom: 0.8;
            font-weight: bold;
            font-size: 9px;
            display: inline-block;
            --border-radius: 10px;
        }
        .button-end {
            float: right;
        }
        .price {
            font-size: 16px;
            font-weight: bold;
            display: initial;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding-top: 6px;
        }
        .transport {
            text-align: center;
            .s1 {
                color: #878585;
                font-size: 10px;
                float: left;
                margin-top: 5px;
                margin-left: 5px;
            }
            .s2 {
                color: #6d6868;
                display: inline-block;
                font-size: 16px;
                border-radius: 10px;
                padding: 0px 13px;
                line-height: 17px;
                font-weight: bold;
                border: solid 1px #707070;
            }
            .s3 {
                color: #878585;
                margin-top: 5px;
                margin-right: 5px;
                font-size: 10px;
                float: right;
            }
        }
    }
    .sum-price {
        font-size: 10px;
        float: right;
        margin-right: 90px;
        margin-top: 6px;
    }
    .price {
        font-size: 16px;
        position: absolute;
        right: 5px;
        font-weight: bold;
    }
    .auction-btn {
        --ion-color-base: #0ea227 !important;
        --ion-color-contrast: #fff !important;
        --border-radius: 8px;
        font-size: 16px;
        float: right;
        font-weight: bold;
        img {
            margin-right: 5px;
        }
    }
}
.body {
    padding: 5px 10px;
    .header2 {
        background-color: #f57f17;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        // font-weight: bold;
        img {
            width: 13px;
            margin-left: 5px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
    table {
        margin-top: 5px;
        width: 100%;
        thead {
            tr {
                td {
                    border: solid 1px #d1d0d0;
                    padding: 2px 5px;
                    font-size: 10px;
                    font-weight: bold;
                }
            }
        }
        tbody {
            .me {
                background-color: #ffeedf;
                color: #f57f17;
            }
            tr {
                td {
                    padding: 2px 5px;
                    font-size: 10px;
                }
            }
        }
    }
}
.tbody-success {
    td {
        font-size: 10px;
        padding: 2px 5px;
    }
    h3 {
        font-size: 12px;
        padding: 2px 1px;
    }
}
.success {
    .continue {
        background-color: #007fb9;
        border-radius: 6px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        width: 50%;
        margin: 15px auto;
        // font-weight: bold;
        img {
            width: 24px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: -6px;
        }
        .readall {
            position: absolute;
            font-size: 20px;
            right: 20px;
            padding-top: 3px;
        }
    }
}
.continue {
    background-color: #007fb9;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    width: 70%;
    margin: 15px auto;
    // font-weight: bold;
    img {
        width: 24px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: -6px;
    }
    .readall {
        position: absolute;
        font-size: 20px;
        right: 20px;
        padding-top: 3px;
    }
}
.imgslip {
    height: 520px;
    width: 280px;
    background-size: cover;
    background-position: center;

    // border-radius: 50%;
    border: rgb(231, 231, 231) 5px solid;
    .add-camera {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        margin-top: 135px;
        margin-left: 70px;
        img {
            display: block;
            margin: 2px;
            width: 16px;
        }
    }
}
ion-img {
    width: 60%;
}
