<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'ORDER' | translate}} #{{order_data.order_id}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="contact()">
        {{'CONTACTUS'|translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <div class="bg-dark">
      <ion-row>
        <span class="title">{{'ORDER' | translate}}</span> : #{{order_data.order_id}} {{order_data.p_name.th}}
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="title">{{'DATECON' | translate}}</span> : {{order_data.send_date|date:'dd/MM/yyyy'}}
        </ion-col>
        <ion-col>
          <span class="title">{{'TIMECON' | translate}}</span> :
          {{order_data.send_date +' '+ order_data.send_time| date:'HH:mm'}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="title">{{'NAME' | translate}}</span> : {{order_data.name}}
        </ion-col>
        <ion-col>
          <span class="title">{{'COUNT' | translate}}</span> : <ion-badge>{{order_data.count}}</ion-badge>
          {{'CBM' | translate}}
          <span *ngIf="order_data.car=='1'">({{'SMALLTRUCK' | translate}})</span>
          <span *ngIf="order_data.car=='2'">({{'LARGTRUCK' | translate}})</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="add">
          <span class="title">{{'TO' | translate}}</span>
          <span class="address" *ngIf="lang == 'en'">
            : {{order_data.address}} <br> {{'SBD' | translate}} {{order_data.district_en}}
            {{'D' | translate}} {{order_data.subdistrict_en}} <br> {{'P' | translate}} {{order_data.province_en}}
          </span>
          <span class="address" *ngIf="lang == 'th'">
            : {{order_data.address}} <br> {{'SBD' | translate}} {{order_data.district_th}}
            {{'D' | translate}} {{order_data.subdistrict_th}} <br> {{'P' | translate}} {{order_data.province_th}}
          </span>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="details">
    <!-- <div style="margin-top: 20px;">
      <span>
        สถานะ: <ion-badge>
          <span *ngIf="payment.status == 1">ยืนยันแล้ว</span>
          <span *ngIf="payment.status == 0">รอการยืนยัน</span>
          <span *ngIf="payment.status == -2">การชำระเงินถูกปฏิเสธ</span>
        </ion-badge>
      </span>
    </div> -->
    <div>
      <span>{{'WINNER' | translate}} {{winner.name}}</span>
    </div>
    <div>
      <span *ngIf="winner.sumprice == totalprice">{{'PRICE' | translate}} {{winner.sumprice | number}}
        {{'THB' | translate}}</span>
      <span *ngIf="winner.sumprice != totalprice"><s>{{'PRICE' | translate}} {{winner.sumprice | number}}
          {{'THB' | translate}}</s></span>
    </div>
    <div class="score">
      <ion-button (click)="discount(score)" [disabled]="winner.sumprice != totalprice || score == 0 || success">
        {{'REDEEM' | translate}} {{score | number}} {{'POINTS' | translate}}</ion-button>
    </div>
    <div>
      <span style="font-size: 18px;">{{'PRICETOPAY' | translate}} {{totalprice | number}} {{'THB' | translate}}</span>
    </div>
    <div style="margin-bottom: 15px;border-bottom: solid 1px var(--ion-color-light-shade);">
      {{'PLSSELECTACCOUNT' | translate}}
    </div>
    <div class="banklist" *ngFor="let ac of bank;let i = index">
      <ion-row (click)="rowClick(ac.bb_id)">
        <ion-col size="2">
          <input type="radio" value="{{ac.bb_id}}" name="selected_bank" [(ngModel)]="selected_bank" [value]="ac.bb_id"
            [checked]="ac.bb_id == payment.bb_id" [disabled]="success">
        </ion-col>
        <ion-col class="bb" size="10" style="text-align: start;">
          <div style="width: max-content;">
            <span class="text-bank" style="display: contents;">
              {{'BANK' | translate}} : {{ac.bank}}
            </span>
            <a (click)="copyMessage(ac.no)" style="position: absolute;right: 15px;color: blue;font-size: 14px;">{{'COPY' | translate}}</a>
          </div>

          <span class="text-bank">
            {{'ACCOUNTNAME' | translate}} : {{ac.name}}
          </span>
          <span class="text-bank">
            {{'ACCOUNTNUMBER' | translate}} : <strong>{{ac.no}}</strong>
          </span>
        </ion-col>
      </ion-row>
    </div>
    <!-- <table>
      <thead>
        <tr>
          <td style="border-left: none;">
            #
          </td>
          <td>
            {{'ACCOUNTNUMBER' | translate}}
          </td>
          <td>
            {{'ACCOUNTNAME' | translate}}
          </td>
          <td style="border-right: none;">
            {{'BANK' | translate}}
          </td>
        </tr>
      </thead>
      <tbody style="text-align: left;">

        <tr *ngFor="let ac of bank;let i = index">
          <td>
            <input type="radio" value="{{ac.bb_id}}" name="selected_bank" [(ngModel)]="selected_bank" [value]="ac.bb_id"
              [checked]="ac.bb_id == payment.bb_id" [disabled]="success">
          </td>
          <td (click)="copyMessage(ac.no)"> {{ac.no}} <ion-badge color="primary" style="font-size: 10px;" mode="ios">
              {{'COPY' | translate}}</ion-badge>
          </td>
          <td> {{ac.name}} </td>
          <td> {{ac.bank}} </td>
        </tr>
      </tbody>
    </table> -->
    <div style="margin-top: 15px;" style="text-align: -webkit-center;">
      <div *ngIf="url!=''">
        <ion-img ionImgViewer scheme="dark" width="180px" [src]="url"></ion-img>
      </div>
      <!-- <div ionImgViewer class="imgslip" [ngStyle]="{'background-image': 'url('+url+')'}" [ngStyle]="{'height': 'max-content'}">
      </div> -->
      <ion-row style="border-bottom:none">
        <ion-col>
          <input style="display: none;" #file_slip id="slipinput" type="file" accept="image/*"
            (change)="changeListener($event)">
          <ion-button size="small" color="warning" (click)="add_slip($event)" [disabled]="success">
            <label [hidden]="url!=''">{{'SENDSLIP' | translate}}</label>
            <label [hidden]="url==''">{{'EDIT' | translate}}</label>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="small" (click)="continue()" [disabled]="success">
            <!-- <ion-icon slot="icon-only" name="arrow-back"></ion-icon> -->
            <ion-label>{{'UPLOAD' | translate}}</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <!-- <div class="continue" (click)="continue()" disabled="success"><img src="../../assets/images/pay_cash.png" >อัพโหลดหลักฐานการโอน
      </div> -->

    </div>
  </div>

</ion-content>