<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>ยืนยันรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="confirm-content">

  <form [formGroup]="signupForm" (ngSubmit)="doSignup()">
    <div class="text1">{{'ENTEROTP'|translate}} {{code}}</div>
    <ion-row class="ion-text-center" >
      <ion-col style="padding: initial;width: max-content;">
        <ion-input type="tel" formControlName="otp1" #otp1 required maxLength="1"
          (keyup)="otpController($event,otp2,'')">
        </ion-input>
        <ion-input type="tel" formControlName="otp2" #otp2 required maxLength="1"
          (keyup)="otpController($event,otp3,otp1)">
        </ion-input>
        <ion-input type="tel" formControlName="otp3" #otp3 required maxLength="1"
          (keyup)="otpController($event,otp4,otp2)">
        </ion-input>
        <ion-input type="tel" formControlName="otp4" #otp4 required maxLength="1"
          (keyup)="otpController($event,otp5,otp3)">
        </ion-input>
        <ion-input type="tel" formControlName="otp5" #otp5 required maxLength="1"
          (keyup)="otpController($event,otp6,otp4)">
        </ion-input>
        <ion-input type="tel" formControlName="otp6" #otp6 required maxLength="1"
          (keyup)="otpController($event,'',otp5)">
        </ion-input>
      </ion-col>
    </ion-row>
    <p>
      {{'NOTOTP'|translate}} <a (click)="send_agen()">
        {{'GETAGAIN'|translate}}
      </a>
    </p>
    <ion-row class="other-auth-options-row">
      <ion-button class="signup-btn" type="submit" expand="round" [disabled]="!signupForm.valid">
        {{'CHECKDATA'|translate}}</ion-button>
    </ion-row>
  </form>
</ion-content>