<ion-header>

  <ion-toolbar mode="ios" style="--background :#F57F17;--color: white;">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" style="color: white;" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>{{'CONCRETECALCULATE' | translate}}</ion-title>
    <!-- <ion-buttons slot="end" style="--color: white;">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;color: #7D7B7A;padding-top: 20px;">
    <div>
      {{'ESTIMATE1' | translate}}
    </div>
    <div>
      {{'ESTIMATE2' | translate}}
    </div>
  </div>
  <div style="padding: 50px 20px 0px 20px;">
    <table width="100%">
      <tr style="color:#7D7B7A;">
        <td align="center" width="25%" class="{{type_work[0].css}}" (click)="selectTypeWork(1)">
          <div>
            <img src="../../assets/images/icon_type_work/type_work1.png" width="40px"
              *ngIf="type_work[0].css == 'none'">
            <img src="../../assets/images/icon_type_work/type_work1_c.png" width="40px"
              *ngIf="type_work[0].css == 'active'">
          </div>
          <div>
            {{'PLASTER' | translate}}
          </div>
        </td>
        <td align="center" width="25%" class="{{type_work[1].css}}" (click)="selectTypeWork(2)">
          <div>
            <img src="../../assets/images/icon_type_work/type_work2.png" width="40px"
              *ngIf="type_work[1].css == 'none'">
            <img src="../../assets/images/icon_type_work/type_work2_c.png" width="40px"
              *ngIf="type_work[1].css == 'active'">
          </div>
          <div>
            {{'PILLAR' | translate}}
          </div>
        </td>
        <td align="center" width="25%" class="{{type_work[2].css}}" (click)="selectTypeWork(3)">
          <div>
            <img src="../../assets/images/icon_type_work/type_work3.png" width="40px"
              *ngIf="type_work[2].css == 'none'">
            <img src="../../assets/images/icon_type_work/type_work3_c.png" width="40px"
              *ngIf="type_work[2].css == 'active'">
          </div>
          <div>
            {{'BEAMED' | translate}}
          </div>
        </td>
        <td align="center" width="25%" class="{{type_work[3].css}}" (click)="selectTypeWork(4)">
          <div>
            <img src="../../assets/images/icon_type_work/type_work4.png" width="40px"
              *ngIf="type_work[3].css == 'none'">
            <img src="../../assets/images/icon_type_work/type_work4_c.png" width="40px"
              *ngIf="type_work[3].css == 'active'">
          </div>
          <div>
            {{'BASE' | translate}}
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding-top: 50px; text-align: center;">
    <img src="../../assets/images/icon_type_work/{{img_part}}">
  </div>
  <div class="form-group">
    <form [formGroup]="formGroupCalc">
      <div *ngIf="type_work[0].css == 'active'">
        <div class="form-input-group">
          <label>{{'WIDE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_1" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'LONG' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_2" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'THICK' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_3" type="number" min="0"></ion-input>
        </div>
      </div>

      <div *ngIf="type_work[1].css == 'active'">
        <div class="form-input-group">
          <label>{{'WIDE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_1" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'BASE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_2" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'HIGH' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_3" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'QUANTITY' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_4" type="number" min="1"></ion-input>
        </div>
      </div>

      <div *ngIf="type_work[2].css == 'active'">
        <div class="form-input-group">
          <label>ความลึก[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_1" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'WIDE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_2" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'BASE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_3" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'QUANTITY' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_4" type="number" min="1"></ion-input>
        </div>
      </div>

      <div *ngIf="type_work[3].css == 'active'">
        <div class="form-input-group">
          <label>{{'WIDE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_1" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'BASE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_2" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'BASE' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_3" type="number" min="0"></ion-input>
        </div>
        <div class="form-input-group">
          <label>{{'QUANTITY' | translate}}[{{'METR' | translate}}]</label>
          <ion-input (ionChange)="calcCongrete()" formControlName="input_4" type="number" min="1"></ion-input>
        </div>
      </div>

      <div class="result-calc">
        <div class="result-calc-sup">
          <ion-label>
            <strong>
              {{'ESTIMATERESULTE' | translate}}
            </strong>
          </ion-label>
          <div>
            <ion-label class="result">{{result_clac|number}}</ion-label>
            <ion-label> {{'CBM' | translate}}</ion-label>
          </div>
        </div>
        <div class="result-calc-sup">
          <ion-label>
            <strong>
              {{'RECOMMEND' | translate}}
            </strong>
          </ion-label>
          <div>
            <ion-label class="result">{{result_com|number}}</ion-label>
            <ion-label> {{'CBM' | translate}}</ion-label>
          </div>
        </div>
      </div>
      <div style="text-align: center;padding-top:10px;padding-bottom: 20px;">
        <ion-button shape="round" size="small" (click)="back()">
          <ion-icon name="arrow-dropleft" ></ion-icon>
          <ion-label>{{'BACK' | translate}}</ion-label>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>