.form-group {
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .form-input-group {
        color: #7d7b7a;
        display: contents;
        width: 25%;
        padding-left: 10px;
        padding-right: 10px;
        ion-input {
            --padding-start: 10px;
            border: solid;
        }
    }
    .result-calc {
        padding-top: 30px;
        color: #f57f17;
        .result-calc-sup {
            padding-bottom: 20px;
            .result {
                background-color: #fff2e7;
                padding: 0px 20px 0px 20px;
                font-size: x-large;
            }
        }
    }
}

.active {
    color: #f57f17;
}

