<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="cover">
    <div class="content">
      <div class="head">
        <div class="img">
          <img src="../../assets/icon/logo_concrete_delivery.png">
        </div>
        <div class="text">
          <h3>CONCRETE DELIVERY</h3>
          <div>{{'CONCRETEEASY' | translate}}</div>
        </div>

      </div>
      <div class="profile">
        <div class="imgpro" [ngStyle]="{'background-image': 'url('+data.picture+')'}" style="background-size: cover;">
        </div>
        <div class="text">
          <ion-button class="order-btn" (click)="order_now()" expand="round">
            {{'BUYNOW' | translate}}</ion-button>
          <div>{{'WELCOME' | translate}}</div>
          <h3>{{data.name}}</h3>
        </div>

      </div>
    </div>
  </div>
  <div class="news">
    <h4>{{'NEWS' | translate}}</h4>
    <!-- <a>{{'SEEALL' | translate}}</a> -->
    <ul>
      <li *ngFor="let n of news" (click)="open_detail(n)"><span>{{n.title}}</span></li>
    </ul>
  </div>
  <div class="order">
    <h4>{{'LASTORDER' | translate}}</h4>
    <a (click)="all_order()">{{'SEEALL' | translate}}</a>
    <div class="not_have" *ngIf="new_order.length==0">
      <h3 class="danger">{{'NOORDERNEW' | translate}}</h3>
      <ion-button (click)="order_now()" class="order-btn" expand="round">
        {{'BUYNOW' | translate}}</ion-button>
    </div>

    <div class="order-list" *ngIf="new_order.length!=0">
      <div class="list" *ngFor="let o of new_order | slice:0:5;" (click)="openAuction(o)">
        <div class="img" [ngStyle]="{'background-image': 'url(' + o.p_img + ')'}">
        </div>
        <div class="content">
          <div class="time-out" *ngIf="o.choose == 0">
            <span *ngIf="lang=='th'" class="auction">{{'TIMEOUT' | translate}} {{o.end_date | date:'HH:mm'}} น.</span>
            <span *ngIf="lang=='en'" class="auction">{{'TIMEOUT' | translate}} {{o.end_date | date:'shortTime'}}</span>
          </div>
          <div class="time-out" *ngIf="o.choose == 1">
            <span class="time">{{'ENDED' | translate}}</span>
          </div>
          <div class="a1">
            <span class="number">{{'COUNT' | translate}} {{o.count}} {{'CBM' | translate}}</span>
          </div>
          <div class="product_name">
            {{o.p_name}}
          </div>
          <div class="a2">
            <span class="not_people">#{{o.order_id}} </span>
            <span *ngIf="o.status == -2" class="not_people">{{'PAYMENTISSUE' | translate}}</span>
            <span *ngIf="o.status == -1" class="not_people">{{'CANCLED' | translate}}</span>
            <span *ngIf="o.status == 0 && o.choose == 0" class="not_people"
              style="color: #0DC444;">{{'AUCTIONING' | translate}}</span>
            <span *ngIf="o.status == 0 && o.choose == 1" class="not_people"
              style="color: #F57F17;">{{'WAITPAY' | translate}}</span>
            <span *ngIf="o.status == 1" class="not_people" style="color: #0DC444;">{{'WAITSEND' | translate}}</span>
            <span *ngIf="o.status == 2" class="not_people" style="color: #0DC444;">{{'SENDING' | translate}}</span>
            <span *ngIf="o.status == 3 " class="not_people" style="color: #0DC444;">{{'SUCCESS' | translate}}</span>
            <span *ngIf="o.status == 20" class="not_people" style="color: #F57F17;">{{'WAITCOMFIRM' | translate}}</span>
            <span *ngIf="o.status == 30" class="not_people"
              style="color: #F57F17;">{{'PAYMENTISSUE' | translate}}</span>
            <span class="price-min" *ngIf="o.status == 0 && o.choose == 0">{{'LOWPRICE' | translate}} <span class="pirce">{{o.sum | number}}</span>
              {{'THB' | translate}}</span>
            <span class="price-min" *ngIf="o.status == 0 && o.choose == 1">{{'PRICE' | translate}} <span class="pirce">{{o.sum | number}}</span>
              {{'THB' | translate}}</span>
              <span class="price-min" *ngIf="o.status != 0">{{'PRICE' | translate}} <span class="pirce">{{o.sum | number}}</span>
              {{'THB' | translate}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>