.cover {
  height: 160px;
  background-image: url("../../assets/images/SCG-open@2x.png");
  .content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 19px;
    .head {
      color: #fff;
      .img {
        width: 60px;
        display: inline-block;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        display: inline-block;
        vertical-align: top;
        div {
          font-size: 15px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 19px;
        font-weight: bold;
      }
      span {
        margin: 0px;
      }
    }
    .profile {
      color: #fff;
      .imgpro {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: solid 1px #fff;
        border-radius: 50%;
        padding: 0px;
        background-size: cover;
        background-color: #fff;
      }
      .text {
        padding: 2px;
        padding-left: 8px;
        display: inline-block;
        vertical-align: top;
        div {
          font-size: 15px;
        }
        .order-btn {
          font-size: 15px;
          position: absolute;
          height: 25px;
          width: 100px;
          right: 10px;
        }
      }
      img {
        width: 60px;
        display: inline-block;
      }
      h3 {
        display: inline-block;
        margin: 0px;
        font-size: 18px;
      }
      span {
        margin: 0px;
      }
    }
  }
}
.news {
  padding: 20px;
  padding-bottom: 10px;
  h4 {
    margin: 0px;
    font-size: 17px;
  }
  a {
    position: absolute;
    right: 25px;
    color: #0000ff;
    font-size: 13px;

    margin-top: -20px;
    text-decoration: unset;
  }
  ul {
    list-style: none;
    margin-top: 7px;
    li {
      font-size: 13px;
      span {
        margin-top: -30px;
        display: block;
        margin-left: -15px;
      }
    }
    li::before {
      content: "\2022";
      color: #01ff2b;
      font-size: 49px;
      line-height: 26px;
      font-weight: bold;
      display: inline-block;
      width: 24px;
      margin-left: -38px;
    }
  }
}
.order {
  padding: 20px;
  padding-top: 0px;
  h4 {
    margin: 0px;
    font-size: 17px;
  }
  a {
    position: absolute;
    right: 25px;
    color: #0000ff;
    font-size: 13px;

    margin-top: -20px;
    text-decoration: unset;
  }
  .not_have {
    padding-top: 30px;
    text-align: center;
    .danger {
      color: #d10202;
      text-align: center;
      font-size: 17px;
    }
  }
  .order-list {
    .list {
      height: 80px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #efefefef;
      box-shadow: 0px 3px 3px 0px #888888;
      margin-top: 12px;
      .img {
        width: 80px;
        display: inline-block;
        height: 100%;
        background-size: cover;
      }
      .content {
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 80px);
        padding: 5px 10px;
        .product_name {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          //width: 50px;
          width: calc(100vw - 160px);
          text-overflow: ellipsis;
        }
        .time-out {
          float: right;
          font-size: x-small;
          font-weight: bolder;
          color: red;
          .auction {
            color: #F57F17;
          }
        }
        .a1 {
          // max-width: 60px;
          .number {
            max-width: 60px;
            font-size: 12px;
            color: rgb(151, 151, 151);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .time {
            margin-top: 5px;
            float: right;
            font-size: 12px;
            padding-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #c20000;
          }
          
        }
        .a2 {
          .people {
            color: rgb(173, 0, 150);
            font-size: 12px;
          }
          .not_people {
            font-size: 12px;
            float: left;
            color: rgb(206, 99, 0);
            margin-top: -5px;
            margin-left: 5px;
          }
          .price-min {
            font-size: 12px;
            float: right;
            padding-right: 10px;
            margin-top: -5px;
          }
          .pirce {
            font-size: 12px;

            color: rgb(52, 182, 0);
          }
        }
      }
    }
  }
}
