:host {
  --page-margin: var(--app-broad-margin);
  --page-background: #f1eeee;
  // --background: #f1eeee;
}
ion-content{
    --background: #f1eeee;
}
.header {
  background-color: #0b7e67;
  height: 90px;
  padding: 15px;
  padding-left: 20px;
  .avatar {
    width: 50px;
    height: 50px;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 0px;
    background-size: cover;
    background-color: #fff;
    img {
      width: 100%;
    }

    display: inline-block;
  }
  .add-camera {
    width: 15px;
    height: 15px;
    background-color: rgb(251, 0, 251);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    margin-top: -20px;
    margin-left: 19px;
    border: #fff 1px solid;
    img {
      display: block;
      margin: 2px;
    }
  }
  .content {
    margin-left: 15px;
    display: inline-block;
    color: #fff;
    vertical-align: top;
    h4 {
      font-size: 16px;
      font-weight: 100;
      margin: 0px;
    }
    .tel {
      font-size: 12px;
    }
    .btn-edit {
      font-size: 10px;
      height: 18px;
      width: 75px;
      margin-top: -10px;
      color: #fff;
      img {
        margin-right: 3px;
      }
    }
  }
  .detail {
    position: absolute;
    right: 20px;
    text-align: right;
    margin-top: -63px;
    color: #fff;
    .text {
      font-size: 10px;
    }
    .btn-detail {
      font-size: 10px;
      height: 18px;
      width: 75px;
      margin-top: -10px;
      color: #fff;
      --background: #f517c1;
    }
    .scroe {
      font-size: 16px;
      color: #ffd500;
    }
  }
}
ion-list {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  ion-item {
    --background: #f1eeee;
    // padding-right: 20px;
    // padding-left: 20px;
    img {
      margin-left: 10px;
    }
    ion-label {
      padding-left: 10px;
    }
  }
}
.version{
    font-size: 10px;
    color: #7D7B7A;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}
