<ion-header>
  <ion-toolbar mode="ios" color="primary">

    <ion-title>{{'MYACCOUT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">

    <div class="avatar" [src]="data.picture" ionImgViewer scheme="dark" [ngStyle]="{'background-image': 'url('+data.picture+')'}" style="background-size: cover;">
      <!-- <p [src]="data.picture"></p> -->

    </div>

    <!-- <div class="add-camera">
      <img src="../../assets/images/ic_add_a_photo_24px.png">
    </div> -->
    <div class="content">
      <h4>{{data.name}}</h4>
      <div class="tel">{{data.phone}}</div>
      <ion-button class="btn-edit" shape="round" (click)="continue(data.member_id)">
        <img src="../../assets/images/ic_edit_24px.png"> {{'EDITPROFILE' | translate}}
      </ion-button>
    </div>
    <div class="detail">
      <div class="text">{{'MYSCORE' | translate}}</div>
      <div class="scroe"><img src="../../assets/images/ic_local_activity_24px.png"> {{score | number}}</div>
      <ion-button class="btn-detail" shape="round" (click)="details(data.member_id)">
        {{'LOOKDETAILS' | translate}}
      </ion-button>
    </div>
  </div>
  <ion-list>
    <ion-item button (click)="change_lang()">
      <img src="../../assets/images/ic_language_24px.png">
      <ion-label>
        <h3>{{'LANGUAGE' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item button (click)="change_password()">
      <img src="../../assets/images/ic_lock_outline_24px.png">
      <ion-label>
        <h3>{{'CHANGEPASSWORD' | translate}}</h3>
      </ion-label>
    </ion-item>
    <!-- <ion-item button disabled>
      <img src="../../assets/images/ic_notifications_active_24px.png">
      <ion-label>
        <h3>{{'SETTINGNOTIFICATE' | translate}}</h3>
      </ion-label>
    </ion-item>

    <ion-item button disabled>
      <img src="../../assets/images/ic_settings_24px.png">
      <ion-label>
        <h3>{{'GENERALSETTINGS' | translate}}</h3>
      </ion-label>
    </ion-item> -->

    <ion-item button (click)="contact()">
      <img src="../../assets/images/ic_mail_24px.png">
      <ion-label>
        <h3>{{'CONTACTUS' | translate}}</h3>
      </ion-label>
    </ion-item>

    <!-- <ion-item button disabled>
      <img src="../../assets/images/ic_block_24px.png">
      <ion-label>
        <h3>{{'DELECTACCOUNT' | translate}}</h3>
      </ion-label>
    </ion-item>  -->

    <ion-item button (click)="logout()">
      <img src="../../assets/images/ic_system_update_alt_24px.png">
      <ion-label>
        <h3>{{'LOGOUT' | translate}}</h3>
      </ion-label>
    </ion-item>


  </ion-list>
  <div class="version">Concrete Delivery Version 1.0</div>

</ion-content>