<ion-content class="body">
  <div class="header">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="content">
    <h1>{{'TITLE'|translate}}</h1>
    <p [hidden]="lang != 'th'">
      {{body.title.th}}
    </p>
    <p [hidden]="lang != 'en'">
      {{body.title.en}}
    </p>
    <h1>
      {{'DETAILS'|translate}}
    </h1>
    <p [hidden]="lang != 'th'" class="details" [innerHTML]="body.content.th"></p>
    <p [hidden]="lang != 'en'" class="details" [innerHTML]="body.content.en"></p>
   
  </div>

</ion-content>