.body {
    --background-color: orange;
}
.header {
    margin-left: calc(77vw);
}
.content {
    padding: 20px 20px;
    h1 {
      font-size: 20px;
      color: #7d7b7a;
      border-bottom: solid 2px #f57f17;
      display: inline;
    }
    .details{
      font-size: 14px;
      color: #5c5b5b;
    }
    p {
      font-size: 14px;
    }
  }
